body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: rgb(96, 167, 224);
}

p{
  margin: 0;
  padding: 0;
}

div{
  margin: 0;
  padding: 0;
}

.sidebar{
  border-right: lightpink 10px solid;
  position: fixed;
  height: 100vh;
  width: 240px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar button{
  background-color: lightgreen;
  border: none;
  color: lightpink;
  flex: 1;
  font-size: 3.5vh;
  display: block;
  width: 100%;
  transition: color 0.15s;
  font-weight: bold;
  cursor: pointer;
}

.sidebar button:hover{
  color: rgb(253, 8, 49);
}

.main{
  margin-left: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-box{
  border: solid 10px lightpink;
  min-height: 50vh;
  min-width: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
}

.question{
  font-size: 40px;
  font-weight: bold;
}

.question-img{
  height: 15vh;
  object-fit: scale-down;
  object-position: center;
  margin-top: 5vh;
  border: 5px solid lightpink;
}

.answer{
  margin-top: 5vh;
}

.answer-button{
  height: 50px;
  width: 150px;
  font-size: 3.5vh;
  background-color: white;
  border: solid 1px rgb(197, 197, 197);
  transition: border 0.1s,
  background-color 0.15s,
  width 0.15s,
  height 0.15s;
  border-radius: 2px;
  cursor: pointer;
}

.answer-button:hover{
  border: solid 2px rgb(44, 176, 253);
}

.selection{
  font-size: 20px;
  cursor: pointer;
}

.doplnovacka{
  font-size: 30px;
}

.vyhodnoceni-container{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vh;
}

.vyhodnoceni-container button{
  font-size: 23px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  transition: border 0.15s;
  cursor: pointer;
}

.vyhodnoceni-container button:hover{
  border: 1px solid rgb(44, 176, 253);
}